ion-header {
  --ion-background-color: #3880ff; /* Set the header background color */
  --ion-color-primary: #ffffff; /* Set the primary text color */
}

ion-title {
  font-size: 20px; /* Adjust the title font size */
}


.container {
  padding: 20px;
}

h2 {
  font-size: 24px;
  color: #adafb3; 
  text-align: center;
  font-size: 24px;
  font-family: fantasy;
  font-style: papyrus;
  margin-bottom: 20px;
}

ion-card {
  margin-bottom: 20px;
  background-color: #f4f5f8; /* Set the card background color */
}

ion-card-title {
  color: #060a10; /* Set the card title color */
}

ion-card-content {
  padding: 15px;
}

ion-item {
  --ion-background-color: #ffffff; /* Set the item background color */
  --ion-color-primary: #3880ff; /* Set the item primary text color */
}

ion-note {
  --ion-color-primary: #3880ff; /* Set the note text color */
}
