.donate-content {
  --ion-background-color: #08090e;
  position: relative;
}
.right{
  float: right;
}


.container {
  max-width: 600px;
  margin: 0 auto;
}
  
  .welcome-message {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 24px;

  }
  
  .donation-card {
    background-color: #FADBD8;
    border-radius: 8px;
    padding: 16px;
    margin-bottom: 16px;
  }
  
  .donation-card ion-card-header {
    border: none;
  }
  
  .donation-card ion-card-title {
    font-weight: bold;
    color: #D35400;
    font-size: 24px;
    font-family: fantasy;
    font-style: papyrus;
  }
  
  .donation-card ion-card-content {
    padding: 0;
  }
  
  .donation-amount {
    font-size: 18px;
    margin-top: 16px;
  }
  
  .news-updates-card,
  .announcements-card {
    background-color: #F8F9F9;
    border-radius: 8px;
    padding: 16px;
    margin-bottom: 16px;
  }
  
  .news-updates-card ion-card-header,
  .announcements-card ion-card-header {
    border: none;
  }
  
  .news-updates-card ion-card-title,
  .announcements-card ion-card-title {
    font-weight: bold;
    font-size: 24px;
    color: #2980B9;
    font-family: fantasy;
    font-style: papyrus;
  }
  
  .news-updates-card ion-card-content,
  .announcements-card ion-card-content {
    padding: 0;
  }
  
  .news-updates-card ul,
  .announcements-card ul {
    margin-top: 8px;
    padding-left: 16px;
  }
  
  .news-updates-card ul li,
  .announcements-card ul li {
    list-style: disc;
    margin-bottom: 4px;
  }
  
  .dashboard-button {
    background-color: #E74C3C;
    color: #FFFFFF;
    font-weight: bold;
    border-radius: 8px;
    margin-top: 24px;
  }

  ion-toolbar{
    --background: linear-gradient(to right, rgba(15, 7, 7, 0.692), rgb(14, 149, 64));
  }
  
  h2 {
    text-align: center;
    font-size: 24px;
    font-family: fantasy;
    font-style: papyrus;
    margin-bottom: 5px;
    margin-top: 10px;
  }

  p {
    text-align: justify;
    font-size: 18px;
    font-family: fantasy;
    font-style: papyrus;
    margin-bottom: 5px;
    margin-top: 10px;
    color: black;

  }

  h4 {
    text-align: center;
    font-size: 20px;
    font-family: fantasy;
    font-style: papyrus;
    margin-bottom: 5px;
    margin-top: 10px;
    color: black;
  }

  ion-button {
    font-size: 20px;
    font-family: fantasy;
    font-style: papyrus;
    margin-bottom: 5px;
    margin-top: 10px;
    color: rgb(3, 0, 0);
  }


