<ion-header>
  <ion-toolbar>
    
    <ion-title>Landing - Admin</ion-title>
    <ion-buttons slot="end" (click)=" navigateToDashboard()">
      <ion-button>Logout</ion-button>
    </ion-buttons>
  </ion-toolbar>
 
</ion-header>
<ion-content class="dashboard-content">
  <div class="container">
    <h2 class="welcome-message">Welcome, Admin!</h2>

    <div class="admin-dashboard">
      <ion-card class="balance-card">
        <ion-card-header>
          <ion-card-title class="card-title">Balance</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <!-- Display balance for admin here -->
          <h3 class="balance-amount">$20000</h3>
        </ion-card-content>
      </ion-card>

      <ion-card class="project-card">
        <ion-card-header>
          <ion-card-title class="card-title">Project Details</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <h3 class="project-name">Project Name: Elderly Care Initiative</h3>
          <p class="project-description">
            The Elderly Care Initiative aims to improve the quality of life for elderly individuals in our community. Through this project, we strive to provide comprehensive support and assistance to seniors who may be facing challenges such as loneliness, health issues, and limited access to resources.
          </p>
          <p class="project-gratitude">
            We extend our heartfelt gratitude to all our donors who have supported us in this noble cause. Your generosity enables us to provide essential care and support to our elderly population, allowing them to age with dignity and grace. Together, we can create a nurturing and inclusive environment for our seniors.
          </p>
        </ion-card-content>
      </ion-card>
    
    </div>
  </div>
</ion-content>
