.landing-content {
    background-color: #f3f3f3;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 20px;
  }
  
  .donations-card {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .project-card {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .expenses-card {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .donations-card ion-card-title,
  .project-card ion-card-title,
  .expenses-card ion-card-title {
    font-weight: bold;
    font-size: 18px;
  }
  
  .donations-card h3 {
    font-size: 24px;
    margin-top: 10px;
  }
  
  .donation-details {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  