<ion-header>
  <ion-toolbar>
    <ion-title class="custom-font">Donate to Change a Life!</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="background-image">
  <div class="container">
    <img src="assets/a.png" alt="Donation Image" class="logo">
    <h2 class="heading custom-font">Welcome to our Donation Platform</h2>

    <ion-card class="login-card">
      <ion-card-content>
        <ion-button expand="full" (click)="navigateToLoginPage('admin')" class="login-button">Log in as Admin</ion-button>
        <ion-button expand="full" (click)="navigateToLoginPage('donor')" class="login-button">Log in as Donor</ion-button>
      </ion-card-content>
    </ion-card>

    <div class="create-account">
      <p>Don't have an account?</p>
      <ion-button expand="full" (click)="createAccount()" class="create-account-button">Create New Account</ion-button>
    </div>
  </div>
</ion-content>
