.donate-content {
  --ion-background-color: #08090e;
  position: relative;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px;
  position: relative;
  overflow: hidden;
  margin-top: 60px;
  
  
}

.welcome-message {
  text-align: center;
  font-size: 24px;
  font-family: fantasy;
  font-style: papyrus;
  margin-bottom: 20px;
  position: absolute;
  top: 0;
  left: -100%;
  animation: moveAd 10s linear infinite;
}

@keyframes moveAd {
  0% {
    left: -100%;
  }
  100% {
    left: 100%;
  }
}

ion-item {
  margin-top: 40px;
}

.donate-button {
  margin-top: 10px;
}
ion-toolbar{
  --background: linear-gradient(to right, rgba(15, 7, 7, 0.692), rgb(14, 149, 64));
}
