ion-header {
    background-color: black;
    border-bottom: 1px solid #0a0000;
  }
  
  ion-title {
    font-size: 18px;
    font-weight: bold;
  }
  
  .login-container {
    max-width: 300px;
    margin: 0 auto;
  }
  
  ion-item {
    margin-bottom: 16px;
  }
  
  .login-button {
    background-color: #007bff;
    color: #fff;
  }
  
  .login-button:hover {
    background-color: #0069d9;
  }
  
  ion-input {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
  }
  
  ion-input:focus {
    border-color: #007bff;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  }
  